{% extends "base.html" %}
{% block content %}

<form method="POST"
      class="glass p-6 md:p-8 w-full max-w-xl space-y-4">

    <h2 class="text-xl md:text-2xl font-bold mb-4 text-center">
        Formulaire
    </h2>

    <!-- GRID RESPONSIVE -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        <input name="nom" placeholder="Nom"
               class="p-3 rounded bg-white/10 w-full" required>

        <input name="prenom" placeholder="Prénom"
               class="p-3 rounded bg-white/10 w-full" required>

        <select name="sexe"
                class="p-3 rounded bg-white/10 w-full">
            <option>Homme</option>
            <option>Femme</option>
        </select>

        <input type="date" name="date_naissance"
               class="p-3 rounded bg-white/10 w-full">

        <input name="telephone" placeholder="Téléphone"
               class="p-3 rounded bg-white/10 w-full">

        <input name="taille" placeholder="Taille (cm)"
               class="p-3 rounded bg-white/10 w-full" required>

        <input name="poids" placeholder="Poids (kg)"
               class="p-3 rounded bg-white/10 w-full" required>

        <input name="tension" placeholder="Tension (12/8)"
               class="p-3 rounded bg-white/10 w-full md:col-span-2">
    </div>

    <button class="w-full bg-blue-500 py-3 rounded-lg hover:bg-blue-600 transition">
        Envoyer
    </button>

</form>

{% endblock %}